html,body{

margin:0;
overflow:hidden;
background:black;

}

video{

display:none;

}

canvas{

position:absolute;
left:0;
top:0;
width:100vw;
height:100vh;

}

#vrButton{

position:absolute;

right:15px;
bottom:15px;

width:42px;
height:42px;

border:none;

border-radius:50%;

background:#111;

color:white;

font-size:18px;

opacity:.75;

z-index:999;

}
